body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding-left: 76px;
    padding-right: 50px;
  }

  h1 {
    line-height: 1.1;
    text-wrap: balance;
    font-size: 277%;
  }
  h2{
    line-height: 1.1;
    text-wrap: balance;
    font-size: 200%;
  }
  
  /* Make it so the all h3 with class "chart_legend"  are not bold and are smaller*/
    h3.chart_legend {
        font-family: system-ui;
        font-weight: normal;
        font-size: 130%;
    }
    
  div.Visualization{
    display: flex;
    flex-wrap: wrap;
    border-radius: 0%;
    width: 73.7%;
    justify-content: space-between;  
    background-color: oklch(96.83% 0 259.28);
    border-radius: 1.7%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  div.interaction-block{
    display: block;
    padding: 2%;

    
  }

  button{
    font-size: 100%;
    width: 1.7cm;
    font-family: system-ui;
    padding: 2%;
    margin: 1%;
    border: 1px solid;
    border-radius: 0.27em;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  svg{
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
  }
  div.orientation-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 7%;
  }
  select{
    font-size: 87%;
  }
  div.top-pov{
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    align-items: center;
  }

  p{
    display: block;
    font-size: 120%;
    width: 90%;
  }

  div#pillow-no-pillow{
    width: 90%;

  }
  h3#pillow-no-pillow{
    margin-right: 10%;
  }